<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= link_to "New post", new_post_path, class: "btn btn-primary"%>
<hr>
<div id="posts" class="row">
  <% @posts.each do |post| %>
  <div class="col-12 col-lg-3 col-md-6">
    <%= render post %>
  
    <p>
      <%= link_to "Show this post", post %>
    </p>
    </div>
  <% end %>
</div>

